.CountryDropdown {
    /*position: absolute;*/
    /*margin-left: 25px;*/
    margin-top: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;

    color: #242632;
}

/*.CountryDropdownText {*/
    /*!*position: absolute;*!*/

    /*width: 360px;*/
    /*height: 61px;*/
    /*left: 120px;*/
    /*!*margin-top: 200px;*!*/

    /*background: #FFFFFF;*/
    /*border-radius: 5px;*/
/*}*/
